Repository josh-development/middlewares, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RealShadowNova, @dan-online, @eslachance

.github/CODEOWNERS:

/packages/auto-ensure/**/*.ts @RealShadowNova
/packages/auto-ensure/README.md @RealShadowNova
/packages/cache/**/*.ts @dan-online
/packages/cache/README.md @dan-online

/.github/ @RealShadowNova
/.husky/ @RealShadowNova
/.vscode/ @RealShadowNova
/.yarn/ @RealShadowNova
/scripts/ @RealShadowNova
LICENSE @eslachance
package.json @RealShadowNova @dan-online
README.md @RealShadowNova

tests: cover every line and condition
  packages/cache/src/lib/CacheMiddleware.ts
  packages/cache/tests/lib/CacheMiddleware.test.ts
Owners: @dan-online

chore(pr): requested changes
  packages/cache/src/lib/CacheMiddleware.ts
Owners: @dan-online

chore(pr): requested changes
  packages/cache/src/lib/CacheMiddleware.ts
  packages/cache/tests/lib/CacheMiddleware.test.ts
Owners: @dan-online

chore(deps): update vitest
  packages/cache/package.json
  yarn.lock
Owners: @RealShadowNova, @dan-online

chore(readme): add cache badge
  README.md
Owners: @RealShadowNova

chore(pr): requested changes
  packages/cache/src/lib/CacheMiddleware.ts
Owners: @dan-online

chore(deps): update provider
  packages/cache/package.json
  packages/cache/src/lib/CacheMiddleware.ts
  packages/cache/tests/lib/CacheMiddleware.test.ts
  yarn.lock
Owners: @RealShadowNova, @dan-online

chore(deps): bump typedoc
  packages/cache/package.json
  yarn.lock
Owners: @RealShadowNova, @dan-online

chore(deps): bump provider again
  packages/cache/package.json
  yarn.lock
Owners: @RealShadowNova, @dan-online

fix(cache): update dependency @joshdb/provider
  packages/cache/package.json
  yarn.lock
Owners: @RealShadowNova, @dan-online
